:root {
    --bg-white: #ffff;
    --primary-color: #43b0d2;
    --waring-color: #fdd503;
    --underline-gradient: linear-gradient(to right, #3498db, #2ecc71, #e74c3c);
}
/* styles.css */
/* dark mode body */

#theme-container {
    transition: background-color 0.9s, color 0.8s, background-image 1.5s;
}

.light-mode {
    background-image: linear-gradient(to left top, #1259b8, #dfdfdf, #1259b8);
    color: black;
}

.dark-mode {
    background-image: linear-gradient(to left top, #333, #000);
    color: white;
}
.btn-them {
    cursor: pointer;
}

.img-banner {
    height: 7rem;
    width: 100%;
}
.img-banner2 {
    border-image: fill 0 linear-gradient(#0003, #000);
}
.img-banner3 {
    height: 7rem;
}
.img-carousel {
    height: 20rem;
    width: 100%;
}

.top-bar {
    background-color: var(--primary-color);
}
.navbar {
    background-color: var(--primary-color);
    /* background-image: linear-gradient(
        to left top,
        var(--primary-color),
        #ffffff 
    );*/
}

.active {
    height: auto;
    /* background-color: var(--bg-white); */
    /* text-decoration: underline; */
    /* text-decoration-color: var(--underline-linear-color); */
    color: var(--waring-color) !important;
    border-radius: 20px;
    filter: drop-shadow(2px 3px 3px var(--waring-color));
}
/* Mengubah warna ikon hamburger menjadi hitam */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Mengubah warna tombol navbar-toggler menjadi hitam */
.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.a-nav {
    font-weight: bold;
    z-index: 10;
}
.a-nav2 {
    color: rgb(75, 75, 75) !important;
}
.a-nav2:hover,
.a-nav:hover {
    color: chocolate;
    transform: scale(1.1);
    transition: 0.5s;
}
.drop-link {
    color: #000;
}
/* CSS untuk memperluas kolom kedua */
/* .col-wide {
    flex: 0 0 40%;
} */

/* footer */
.footer-menu {
    background-color: rgb(22, 22, 22);
    width: auto;
    height: auto;
}
.copyright {
    background-color: rgb(64, 64, 64) !important;
    height: auto;
    color: #fff;
}

.banner-album {
    background-image: linear-gradient(to left top, #0e2d59, #2c3f42);
}
.btn-option-album {
    border-radius: 20px;
}
.card {
    border-radius: 20px;
}
.card-home {
    border-radius: 20px;
    box-shadow: 3px 3px 6px #000;
}
.card-app {
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 10px #000;
}
.card-app:hover {
    box-shadow: 4px 4px 9px #000;
    transform: scale(1.1) rotate(-2deg);
    transition: 0.6s;
}
.card-berita {
    /* position: relative; */
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 3px 3px 6px #000;
}
.img-berita {
    /* border: 2px solid black; */
    width: 10rem;
    /* position: absolute; */
    /* margin-left: 30% !important; */
    z-index: -1;

    opacity: 0.5;
}
.text-berita {
    top: 0;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.btn-show-data-alumni {
    border: none;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
.btn-show-data-alumni:hover {
    background-image: linear-gradient(
        top left top,
        #0e2d59,
        #2c3f42,
        #0e2d59,
        #2c3f42
    );
    transform: scale(1.1);
    transition: 0.5s;
}
.img-pengumuman {
    width: 10rem;
    display: block;
    margin: auto;
}
.text-pengumuman {
    text-decoration: underline;
    text-transform: capitalize;
}
.img-fluid {
    border: 6px solid transparent;
    border-image: linear-gradient(
            to left top,
            rgb(69, 69, 69),
            rgb(255, 229, 229),
            rgb(0, 0, 0)
        )
        1;
    /* border-radius: 8%; */
}
