:root {
    --bg-white: #ffff;
    --primary-color: #43b0d2;
    --waring-color: #fdd503;
    --underline-gradient: linear-gradient(to right, #3498db, #2ecc71, #e74c3c);
}
/* styles.css */
/* dark mode body */
summary {
    color: var(--primary-color);
}
#theme-container {
    transition: background-color 0.9s, color 0.8s, background-image 1.5s;
}

.light-mode {
    background-image: linear-gradient(to left top, #1259b8, #dfdfdf, #1259b8);
    color: black;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    color: black;
}
.dark-mode {
    background-image: linear-gradient(to left top, #333, #000);
    color: white;
}
.btn-them {
    cursor: pointer;
}
/* hover tombol */
.btn {
    --color: #00a97f;
    --color2: rgb(10, 25, 30);
    background-color: transparent;
    border-radius: 6px;
    border: 0.3px solid var(--color);
    transition: 0.6s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-family: "Roboto", "Segoe UI", sans-serif;
    color: var(--color);
}

.btn::after,
.btn::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: 0.6s ease-out;
    background-color: var(--primary-color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
    filter: drop-shadow(3px 3px 3px #000);
}

.btn:active {
    filter: brightness(0.7);
    transform: scale(0.98);
}
/* end hover btn */
/* button back */
.btn-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.btn-back > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.btn-back:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.btn-back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
/* end button back */
.img-banner {
    height: 7rem;
    width: 100%;
}
.img-banner2 {
    border-image: fill 0 linear-gradient(#0003, #000);
}
.img-banner3 {
    height: 7rem;
}
.img-carousel {
    height: 20rem;
    width: 100%;
}

.top-bar {
    background-color: var(--primary-color);
    color: var(--bg-white) !important;
}
.sidebar {
    background-color: var(--primary-color);
}
.main-sidebar {
    background-color: var(--primary-color);
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}

.navbar {
    position: sticky;
    color: #000;
    z-index: 100;
    top: 1px;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-scroll {
    filter: drop-shadow(3px 3px 6px #f000);
}

.active {
    height: auto;
    /* background-color: var(--bg-white); */
    /* text-decoration: underline; */
    /* text-decoration-color: var(--underline-linear-color); */
    color: var(--waring-color) !important;
    border-radius: 20px;
    filter: drop-shadow(2px 3px 3px var(--waring-color));
}
/* Mengubah warna ikon hamburger menjadi hitam */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Mengubah warna tombol navbar-toggler menjadi hitam */
.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.a-nav {
    font-weight: bold;
    z-index: 10;
}
.a-nav2 {
    color: rgb(75, 75, 75) !important;
}
.a-nav2:hover,
.a-nav:hover {
    color: chocolate;
    transform: scale(1.1);
    transition: 0.5s;
}
.drop-link {
    color: #000;
}
/* CSS untuk memperluas kolom kedua */
/* .col-wide {
    flex: 0 0 40%;
} */

/* footer */
.footer-menu {
    background-color: rgb(22, 22, 22);
    width: auto;
    height: auto;
}
.copyright {
    background-color: rgb(64, 64, 64) !important;
    height: auto;
    color: #fff;
}
.footer-elearning,
strong,
b {
    height: auto;
    text-align: center;
    color: rgb(143, 141, 141);
}

.banner-album {
    background-image: linear-gradient(to left top, #0e2d59, #2c3f42);
}
.btn-option-album {
    border-radius: 20px;
}
/* class untuk animasi */
.card,
.h-sejarah,
.p-sejarah,
.img-sejarah,
.h-berjualan,
.p-berjualan,
.h-cuan,
.p-cuan,
.h-market,
.p-market {
    border-radius: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.6s ease-out;
}
.show {
    opacity: 1;
    transform: translateY(0);
}
/* end */
/* .card-profile-class {
    width: auto !important;
} */
.card-home {
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}
.card-app {
    border-radius: 20px;
    border: none;
    border: 1px solid var(--primary-color);
}
.card-app:hover {
    box-shadow: 4px 4px 9px #000;
    transform: scale(1.1) rotate(-2deg);
    transition: 0.6s;
}
.card-berita {
    /* position: relative; */
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}
.img-berita {
    /* border: 2px solid black; */
    width: 10rem;
    /* position: absolute; */
    /* margin-left: 30% !important; */
    z-index: -1;

    opacity: 0.5;
}
.text-berita {
    top: 0;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.btn-show-data-alumni {
    border: none;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
.btn-show-data-alumni:hover {
    background-image: linear-gradient(
        top left top,
        #0e2d59,
        #2c3f42,
        #0e2d59,
        #2c3f42
    );
    transform: scale(1.1);
    transition: 0.5s;
}
.img-pengumuman {
    width: 10rem;
    display: block;
    margin: auto;
}
.text-pengumuman {
    text-decoration: underline;
    text-transform: capitalize;
}
.img-kepsek {
    border: 6px solid transparent;
    border-image: linear-gradient(
            to left top,
            rgb(69, 69, 69),
            rgb(255, 229, 229),
            rgb(0, 0, 0)
        )
        1;
}
.img-sejarah {
    position: relative;
    animation: moveImage 5s infinite alternate ease-in-out;
}
@keyframes moveImage {
    0% {
        transform: translateY(0);
        /* transform: scale(1.1); */
    }
    100% {
        transform: translateY(-20px);
        filter: drop-shadow(3px 5px 6px rgb(113, 113, 113));
    }
}
hr {
    border: 1px solid #676767;
}
.sejarah-page,
.tendik-page,
.visi-page,
.article-page {
    margin-top: 10rem;
    margin-bottom: 15rem;
}
.p-sejarah {
    margin-top: 3rem;

    justify-content: center;
}

/* galery tendik */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-item:hover .gallery-img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 576px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}

/* end galery tendik */

/* article  */
.article-page p {
    text-align: justify;
}
#img-articel-jualan {
    width: 200px;
    height: 200px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
    animation: moveImage 5s infinite alternate ease-in-out;
    border-radius: 20px;
}

#img-articel-jualan:hover {
    opacity: 0.5;
}

/* end articel */

/* e-learning area */

.modal-tugas {
    display: none;
}
